@import '../../styles/variables.scss';

.main_hero {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8; // optional: set a background color

  // Animations for the footer content
  .fadeInUp {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
  }

  // Keyframes for fadeInUp effect
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Optional: Add a hover effect for buttons to create interactivity
  .MuiButton-root:hover {
    transform: translateY(-5px); // Button "pop" effect on hover
    transition: transform 0.3s ease;
  }
}
