@import '../../styles/variables.scss';

.carousel {
  color: white;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  // Title animation
  &_title {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards 0.5s;
    font-family: 'Amsterdam'; // Fade-in and slide-up effect
  }

  // Description animation
  & p {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards 1s; // Fade-in and slide-up effect with delay
  }

  // Button animation
  &_button {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards 1.5s; // Fade-in and slide-up effect with delay
  }

  // Arrow animations (previous and next)
  &_arrow {
    height: 35px;
    width: 35px;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    opacity: 0;  // Initially hidden
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards 2s; // Fade-in and slide-up effect with delay
    &:hover {
      cursor: pointer;
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  &_slide_indicator {
    height: 6px;
    width: 20px;
    border-radius: 50px;
    cursor: pointer;
  }

  &_social_icons {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &:hover {
      background: $primary-color;
    }
  }

  // Keyframes for fadeInUp effect
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
