@import '../../styles/variables.scss';
.feedbacks_carousel {
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    padding: 40px 0;
  
    .carousel_container {
      position: relative;
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .carousel_inner {
      display: flex;
      transition: transform 0.8s ease-in-out;
      width: 100%;
    }
  
    .carousel_item {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 60px;
      box-sizing: border-box;
    }
  
    .feedback_card {
      max-width: 600px;
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      background-color: white;
      transition: transform 0.3s, box-shadow 0.3s;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
      }
    }
  
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 40px;
      color: $primary-color;
      border: 2px solid $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 10;  // Make sure the arrows stay above the carousel
      cursor: pointer;
      transition: color 0.3s, border-color 0.3s;
  
      &:hover {
        color: $secondary-color;
        border-color: $secondary-color;
      }
  
      &:first-of-type {
        left: 15px;
        padding-left: 8px;
      }
  
      &:last-of-type {
        right: 15px;
        padding-left: 4px;
      }
    }
  
    // Media query for smaller devices
    @media (max-width: 768px) {
      .arrow {
        top: auto; // Remove vertical centering
        bottom: 0; // Position arrows at the bottom
        transform: none; // Remove translateY effect
  
        // Reposition left arrow
        &:first-of-type {
            	padding-left: 8px;
          left: 50%; // Center horizontally
          transform: translateX(-120%); // Move the left arrow to the left of the center
        }
  
        // Reposition right arrow
        &:last-of-type {
            padding-left: 4px;
          left: 50%; // Center horizontally
          transform: translateX(20%); // Move the right arrow to the right of the center
        }
      }
    }
  }
  