@import '../../styles/variables.scss';

.main_hero {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8; // optional: set a background color

  &_title {
    opacity: 0;
    color: $primary-color;
    transform: translateY(50px);
    transition: all 1s ease-out; // Added transition for smoothness
  }

  h5 {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out; // Added transition for smoothness
  }

  .MuiButton-root {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out; // Added transition for smoothness
  }

  // Keyframes for fadeInUp effect
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Add animation when the component is in view
  .fadeInUp {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease-out forwards;
  }

  // Optional: Add a hover effect for buttons to create interactivity
  .MuiButton-root:hover {
    transform: translateY(-5px); // Button "pop" effect on hover
    transition: transform 0.3s ease;
  }
}
