@import "../../styles/variables.scss";

.main_hero {
  color: white;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 1;
  transform: none;

  // Estilos para os títulos e itens de lista com animação
  h3,
  h4,
  li {
    color: $primary-color;
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 1s,
      transform 1s ease-out;
  }

  // Quando dentro das .cards, os textos devem ser brancos
  .cards {
    &_darker {
      background: $secondary-color;
      h3,
      h4,
      li {
        color: white; // Define o texto branco dentro dos cartões
      }
    }
    &_lighter {
      background: $primary-color;

      h3,
      h4,
      li {
        color: white; // Define o texto branco dentro dos cartões
      }
    }
  }

  // Keyframes para o efeito fadeInUp
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Aplica o efeito fadeInUp quando o elemento estiver visível
  .fadeInUp {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease-out forwards;
  }
}
