@import '../../styles/variables.scss';

.main_hero {
  color: white;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // Remove the background animation since you only want the text to animate
  opacity: 1; 
  transform: none;

  // Title, card titles, and list items (description) animations
  h3, h4, li {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s, transform 1s ease-out;
  }

  // Keyframes for fadeInUp effect
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  // Apply the fadeInUp effect when in view
  .fadeInUp {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease-out forwards;
  }
}
